@import "./variables.scss";

.el-select {
  width: 100%;
}
.label-input {
  padding-bottom: 20px;
}

//Style cho FIELD INPUT ICON SEARCH
.input-icon {
  max-width: 316px;
  min-width: 200px;
  height: 40px;
  border-radius: 5px;
  color: $dark;
  //border: 1px solid $light-grey;
  font-size: 13px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 12px 10px;
  &::placeholder {
    color: $grey;
    font-size: 12px;
  }
  &:focus {
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
  }
}

//icon tìm kiếm
.icon-search {
  background-image: url("~@/icons/ico-search.png");
}

//Style cho FIELD INPUT thường
.input {
  max-width: 400px;
  min-width: 200px;
  height: 40px;
  border-radius: 5px;
  color: $dark;
  font-weight: "regular";
  border: 1px solid $light-grey;
  font-size: 13px;
  padding-left: 16px;
  &::placeholder {
    color: $grey;
    font-size: 12px;
  }
  &:focus {
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
  }
}

//Style cho FIELD INPUT thường element UI
.element input {
  max-width: 400px;
  min-width: 200px;
  height: 40px;
  border-radius: 5px;
  color: $dark;
  font-weight: "regular";
  border: 1px solid $light-grey;
  font-size: 13px;
  padding-left: 16px;
  padding-right: 16px !important;
  &::placeholder {
    color: $grey;
    font-size: 12px;
    font-weight: normal !important;
  }
  &:focus {
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
  }
}
.el-input__inner {
  color: $dark;
  border-radius: 5px;
}

//Style cảnh báo cho FIELD INPUT không được để trống nhập liệu cho element UI
.input-required input {
  border-color: $warning !important;
}
.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus {
  border-color: $warning !important;
}

//Style cảnh báo cho FIELD INPUT không được để trống nhập liệu
.input-required {
  border-color: $warning !important;
}

//Style cho input labal element
.el-form--label-top .el-form-item__label {
  padding: 0px;
  margin-bottom: 8px;
}

.el-input {
  margin-left: 0px;
}

//Style cho input append
#input-append {
  .el-input--medium .el-input__inner {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .el-input-group__append {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $white;
  }
}

//Style cho input prepend
#input-prepend {
  .el-input--medium .el-input__inner {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .el-input-group__prepend {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

// Căn phải cho trường nhập liệu số
.input-number .el-input__inner {
  text-align: right;
}

.el-input--suffix .el-input__inner {
  padding-right: 10px !important;
}

.el-select {
  input {
    text-overflow: ellipsis;
  }
  .el-input--suffix .el-input__inner {
    padding-right: 30px !important;
  }
}
input {
  text-overflow: ellipsis;
}
.el-input--suffix .el-input__inner {
  padding-right: 30px !important;
}
//Chỉnh sửa border ô input khi hover vào
.el-input--medium .el-input__inner:hover {
  //border-color: $hover-primary;
}
