
//Bảng màu chung
$primary: #e8641b;
$light-primary: #e8641b;
$hover-primary: #a06767;

$seconds: #CC0202;
$light-seconds: #EE0000;

$green: #01B680;
$hover-green: #EBF9F4;

$blue-select: #207bc1;
$blue: #0075FF;
$hover-blue: #EBF4FF;

$orange: #FF6900;
$hover-orange: #FFF3EB;

$red: #EE0000;
$bg-red: #F65454;
$light-red: #FF4747;
$hover-red: #FEE5E5;

$dark:#000000;
$hover-dark: #333333;

$grey: #929292;
$hover-grey: #e5e5e5;

$purple: #a900d1;
$hover-purple: #f6e5fb;

$border-grey: #f8f8f8;
$bg-grey: #bbbbbb;

$bg-color-1: #f1f1f1;
$bg-color-2: #f4f4f4;
$bg-color-3: #d1d1d1;


$dark-primary: #019160;

$green-old: #01b075;

$warning: #f65454;
$light-warning: #ffebeb;

$dark-grey: #515252;
$light-grey: #e5e5e5;


$hover-grey: #f4f4f4;
$active-green: #e3f3ee;

$medium-white: #f8f8f8;

$white: #ffffff;

$white-main: #ebebeb;

$white-navbar: #d0d0d0; 

$white-bordertable: #ebeef5;
$white-headertable: #ddd;

$white-scrollbar: #f7f7f7;
$primary-scrollbar: #3ab38a;

$color-link: #337ab7;

$white-aside: #eef1f6;
$color-aside: #2c3e50;

$orange-delete: #ff4a2b;

$yellow: #ffaa00;

//Font chữ
$_fontfamily: "GoogleSansRegular";

$columns-width: 72px;